.category
{
    position:relative;
}

.product-category-title
{
    position: absolute;
    top: 50px;
    left: 0px;
    transition:1s;
}

.product-category-title span
{
    padding: 10px;
    background-color: #F8694A;
    color: white !important;
   
}

.category:hover .product-category-title
{
    transform: scale(1.1);
}